
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins';
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}
.hide{
    display: none;
}
/*MOBILE*/
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
   

}
#header-logo{
    display: flex;
    align-items: center;
    font-weight: bold;
   
}
#header-logo img{
    width: 130px;
    display: inline;
}
#btn-login{
    display: none;
}
#btn-delivery{
    margin-right: 20px;
    border: none;
    padding: 10px;
    font-size: 20px;
    border-radius: 20px;
    width: 120px;
    background-color: #3C0E0E;
    color: white;
}
#apresent{
    display: flex;
    height: 100vh;
}
#img-apresent{
    flex-grow: 1;
}
#img-apresent img{
   transform: translate(-150px, -120px);
    position: relative;
    height: 100%;
   
    display: inline;
    z-index: -1;
    
}
#content-apresent{
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 1;
    
}
#content-apresent > h3{
    width: 200px;
    margin-left: 20px;
   font-size: 20px;
   color: #3C0E0E;
   font-weight: bold;
}
#content-apresent > h1{
    width: 40px;
    font-size: 38px;
    line-height: 35px;
    margin-left: 20px;
    color: #3C0E0E;
}
#content-apresent > p{
    max-width: 150px;
    margin-left: 20px;
    font-size: 18px;
    color: #3C0E0E;
}

#coffe{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-bottom: 30px;
}
#coffe > h2{
    font-size: 32px;
    color: #3C0E0E;
}
#coffe > h3{
    font-size: 15px;
    text-align: center;
    max-width: 280px;
    font-weight:normal;
    color: #3C0E0E ;
}
#btn-expandir{
    margin-bottom: 70px;
    border: none;
    background: none;
    font-weight: bold;
    color: #3C0E0E;
    
}
.card{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 10px;
    text-align: center;
    border-radius:30px;
    padding: 20px;
    width: 350px;
}
.card > .preco{
    font-weight: normal;
    font-size: 20px;
}
 .card > span, .card > p{
    color: white;
 }
 .card > span{
    font-size: 24px;
    font-weight: bold;
 }
 .card > p{
    font-weight: normal;
    margin-bottom: 10px;
 }
.btn-card{
    background-color: white;
    width: 200px;
    border: none;
    font-weight: bold;
    margin: 0 auto;
    padding: 10px;
    border-radius: 20px;
    
}
#capuccino{
    background: linear-gradient(to top right, #EB8E8E, #EB8E8E, #EB8E8E, rgba(255, 255, 255, 0.336));
}
#cafeAoLeite{
    background: linear-gradient(to top right ,#282828, white);
}
#cafePreto{
    background: linear-gradient(to top right, #431B1B,#3C0E0E, black );
}


#croissant{
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    
}
#croissant-content{
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    color: #3C0E0E;
}
#croissant-content > h2{
    font-size: 28px;
    color: #3C0E0E;
    font-weight: bold;
}
.btn-gen{
    background: none;
    border: none;
    font-weight: bold;
    color: #3C0E0E;
}
#croissant-img{
    width: 250px;
    margin: 0 auto;
}
#croissant-img img{
    width: 100%;
    margin-top: 10px;
}

#delivery-banner{
    background-color: #EB8E8E;
   
    width: 300px;
    height: 280px;
    padding: 20px;
    margin: 0 auto;
    border-radius: 20px;
}
#delivery-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    text-align: center;
}
#delivery-content > h3{
    font-weight: normal;
}
#btn-delivery-content{
    width: 200px;
    margin: 0 auto;
    padding: 10px;
    border: none;
    border-radius: 20px;
}
#sobre{
    width: 350px;
    padding: 10px;
    margin: 20px auto;
  
}
#content-left{
    margin-bottom: 20px;
}
#content-left > span:nth-child(1){
    color: #3C0E0E;
}
#content-left > span:nth-child(3){
    color: #3C0E0E;
    font-weight: bold;
}
#content-left > p{
    color: #3C0E0E;
    font-weight: bold;
    font-size: 24px;
}
#content-right{
    color: #3C0E0E;
}
#location{
   display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom left, #EB8E8E, #EB8E8E, #EB8E8E, rgb(189, 189, 189));
    width: 350px;
    margin: 0 auto;
    border-radius: 20px;
    padding: 10px;
    height: 600px;
   
}
#location-reserva{
    display: flex;
    flex-direction: column;
    
    gap: 30px;
}
#location-reserva > h2 {
    font-size: 44px;
    width: 100px;
    margin-left: 20px;
    line-height: 45px;
    color: white;
}
#location-reserva > span, #location-reserva > p{
    margin-left: 20px;
}
#location-reserva > p{
    margin-bottom: 20px;
}
#reserva{
    display: flex;
    margin-left: 20px;
}
#location-img{
    width: 150px;

}
#location-img > img{
    width: 100%;
    transform: translate(150px, -120px);
    
   
    
}
#location-content{
    display: flex;
    flex-direction: column;
    gap: 40px;
    transform: translateY(-100px);
    width: 350px;
    padding: 15px;
    background: linear-gradient(to top left, #3c0e0e, rgb(156, 156, 156));
    border-radius: 0px 0px 10px 10px;
    color: white;
  
}
#contato{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 0 auto;
    padding: 10px;
    border-bottom: 1px solid black;
}
#info > span, #links > span, #institucional > span {
    display: block;
    margin: 20px 0px 20px 0px;
    font-weight: bold;
}
 #instituto-info li, #link-list > li, #info > p{
    color: #3c0e0e;
}
footer{
    text-align: center;
    color: #3C0E0E;
    padding: 10px;
  
}
@media (min-width: 768px) {
    #header-logo > img{
        width: 160px;
    }
    #header-logo > span{
        font-size: 24px;
    }
    #menu-header {
        display: flex;
        margin-left: 50px;
        gap: 15px;
        font-size: 20px;
        
    }
    #menu-header > a{
        color: #3c0e0e;
    }
    #content-apresent {
        width: 800px;
    }
    #content-apresent > h3{
        font-size: 28px;
        width: 300px;
    }
    #content-apresent > h1{
        font-size: 64px;
        line-height: 54px;
    }
    #content-apresent > p {
        font-size: 24px;
       max-width: 500px;
       margin-top: 15px;
    }
    #img-apresent > img {
        transform: translateY(-142px);
        position: relative;
        right: 120px;
    }
    #coffe-cards{
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
        justify-content: center;
        align-items: center;
    }
    #cafePreto{
       grid-column: 1/ -1;
       justify-self: center;
    }
    .card{
        width: 300px;
    }
    #delivery-banner{
        width: calc(100% - 10%);
    }
  
    #btn-delivery-content{
        font-size: 24px;
        
    }
    #sobre{
        width: 700px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
    }
    #content-left{
        display: flex;
        flex-direction: column;
        gap: 10px;
      
    }

    #location{
        padding: 0px;
        width: 700px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    #location-img{
        align-self: flex-end;
    }
    #location-reserva{
        padding: 10px;
    }
    #location-content{
        columns: -1;
        height: 400px;
        transform: translateY(-1px);
        border-radius: 10px;
        justify-self: end;
        
    }

    #contato{
        display: grid;
        width: calc(100% - 10%);
        grid-template-columns: 1fr 1fr 1fr;
        gap: 50px;
    }
}

@media (min-width: 1024px) {
    #container{
        max-width: 1200px;
        margin: 0 auto;
    }
    #header-logo > span {
        font-weight: normal;
    }
    #btn-login{
        display: inline;
        border: none;
        background: none;
        font-size: 20px;
        margin-right: 20px;
        font-weight: 400;
        color: #3c0e0e;        
    }
    #content-apresent > h3{
        font-size: 24px;
    }
    #content-apresent > h1{
        line-height: 60px;
    }
    #content-apresent > p{
        font-size: 18px;
    }
    #coffe{
        width: 100%;
    }
    #coffe-cards{
        display: flex;
        width: 100%;
        justify-content: space-between;
       
    }
    .card{
        height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    #croissant{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
    
    }
    #croissant-content{
        text-align: left;
        gap: 0;
    }
    #croissant-content > p{
        max-width: 400px;
    }
    #croissant-content > h2{
        font-size: 62px;
        
    }
    #croissant-content > h3{
        display: block;
      
        margin-bottom: 10px;
    }
    #croissant-preco{
        display: block;
    }
    .btn-gen{
        text-align: left;
    }
    #croissant-img{
        width: 350px;
       justify-self: end;
    }
    #croissant-img > img{
        width: 100%;
        transform: translateX(150px);
    }
    #delivery-banner{
        width: 100%;
        margin-top: 150px;
        height: 300px;
       display: grid;
       grid-template-columns: 1fr 1fr;
    }
    #delivery-img{
        display: block;
        transform: translateY(-120px);
        position: relative;
        right: 20px;
    }
    #delivery-content{
      align-self: flex-start;
      margin-top: 5%;
    }
    #delivery-content > h2{
        text-align: left;
        margin-left: 10%;
        font-size: 30px;
        color: white;
        font-weight: 500;
    }
    #delivery-content > h3{
        color: white;
        font-weight: normal;
        text-align: left;
        margin-left: 10%;
    }
    #btn-delivery-content{
        width: 300px;
        font-size: 20px;
        margin-top: 30px;
        
    }
    #sobre{
        margin-top: 100px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #content-left > p{
        font-size: 40px;
    }
    #content-right{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    #content-right > span{
        font-weight: bold;
        margin-bottom: 10px;
    }
    #content-right > p:nth-child(2){
        margin-bottom: 30px;
    }
    #location{
        width: 100%;
       display: grid;
       height: 500px;
       grid-template-columns: 400px 200px 200px;
    }
    #location-reserva{
        grid-column: 1;
        align-self: flex-start;
        margin-top: 10%;
        gap: 40px;
    }
    #location-img{
       grid-column: 2 / 3;
       width: 600px;
       
    }
    #location-img > img {
        width: 100%;
        transform: translateY(-60px);
        position: relative;
        right: 100px;
    }

    #location-content{
        grid-column: 4;
        height: 500px;
        border-radius: 0px 10px 10px 0px;
        transform: translateY(-21px);
    }
    #location-reserva > h2{
        font-size: 64px;
        line-height: 65px;
    }
    #location-reserva > span{
       font-size: 18px;
       color: white;
    }
    #location-reserva > p{
        color: white;
    }
}
