@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
:root{
    --bg-color: #f7f2E8;
    --headings: #3C0E0E;
    --text: #000000;
    --text_2: #282828;
    --text_3: #1A1A1A;
    --text_4: #222222;
    --pink: #EB8E8E;
    --pink_2: #F9C4C4;
    --brand: #431B1B;
    --brand_2: #4D1D1D;
}
#container{
    max-width: 1300px;
    margin: 0 auto;
   
}


/*CABEÇALHO*/

header{
    z-index: 9999999999999;
    display: flex;
   justify-content: space-between;
   align-items: center;
}
#header-logo{
    display: flex;
    align-items: center;
   justify-content: start;
  
}
#header-logo span{
    color: #1A1A1A;
}
#menu-header{
    margin-left: 40px;
    display: flex;
    gap: 20px;
  
}
#menu-header a{
    color: #3C0E0E;
    font-size: 1rem;
    font-weight:500;
}
#btn-login{
    background: none;
    color: #3C0E0E;
    border: none;
    font-size: 1rem;
    font-weight: 500;
}
#btn-delivery{
    margin-left: 10px;
    border-radius: 20px;
    background-color: #3C0E0E;
    color: white;
    width: 100px;
    font-size: 1rem;
    padding: 5px;
    border: none;
}

/*AREA APRESENTAÇÃO */

#apresent{
    display: grid;
    grid-template-columns: 400px 1000px;
    grid-template-rows: 400px;
    padding: 0 40px;
}
#img-apresent{
    z-index: -1;
    justify-self: center;
}
#img-apresent img{
    transform: translateY(-169px);
   
}
#content-apresent{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    color: #3C0E0E;
}
#content-apresent h1{
    font-size: 4rem;
    max-width: 40px;
    line-height: 63px;
}
#content-apresent p span{
    font-size: 1rem;
    font-weight: bold;
}


/* AREA CAFÉ */

#coffe{
    width: 100%;
   margin: 50px auto;
    
}
#coffe h2, #coffe h3{
    text-align: center;
}
#coffe h2{
    color: #3C0E0E;
    font-weight: 500;
}
#coffe h3{
    width: 400px;
    text-align: center;
    font-size: .81rem;
    margin: 5px auto 12px auto;
    color: #431B1B;
    font-weight: normal;
    

}
#btn-expandir{
    display: block;
    margin: 0 auto;
    background: none;
    border: none;
    color: #3C0E0E;
    font-weight: 600;
    font-size: 1rem;
}
#coffe-cards{
    margin: 50px 0px 50px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card{
    padding: 15px;
    border-radius: 20px;
    width: 300px;
    height: 450px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  
}
.card img{
    height: 180px;
}
.card .preco{
    font-size: 1.3rem;
}
.card span{
    font-size: 1.8rem;
}
.card span,.card h2, .card p{
    color: white;
}
.card p{
    width: 250px;
    font-size: 0.8rem;
    text-align: center;
    margin: 10px 0px;
}
.btn-card{
    width: 250px;
    border-radius: 15px;
    padding: 5px;
    border: none;
    font-weight: bold;
    font-size: 1rem;
}
#capuccino{
    background: linear-gradient(to top right, #EB8E8E, #282828);
}
#cafeAoLeite{
    background: linear-gradient(to top right, #541511ad, #ffffff94);
}
#cafePreto{
    background: linear-gradient(to top right, #3C0E0E, #000000);
}

/* AREA CROISSANT */

#croissant{
   
    display: grid;
    grid-template-columns: 400px 1000px;
    align-items: center;
   
}
#croissant-preco{
    font-size: 1.5rem;
    color: #EB8E8E;
}
#croissant-content > h2, h3{
    color: #3C0E0E;
}
#croissant-content h2{
    font-size: 5rem;
}
#croissant-content h3{
    font-size: 2rem;
    margin-bottom: 10px;
}
#croissant-content p{
    color: #3C0E0E;
    font-weight: normal;
    margin-bottom: 5px;
}
.btn-gen{
    background: none;
    color: #3C0E0E;
    border: none;
    font-weight: bold;
}
#croissant-img{
    
    justify-self: end;
    padding-right: 5%;
}

/*AREA DELIVERY*/
#delivery-banner{
    margin: 100px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to top right, #3C0E0E, #EB8E8E, #bdb9b9f3);
    border-radius: 40px;
    height: 320px;
}
#delivery-img img{
    
    transform: translateY(-50px);
}
#delivery-content{
    
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    padding-right: 40px;
}
#delivery-content h2{
    color: white;
    font-size: 3rem;
    
}
#delivery-content h3{
    color: white;
    font-weight: normal;
    font-size: 1rem;
    align-self: flex-end;
}
#btn-delivery-content{
    width: 250px;
    border-radius: 20px;
    padding: 10px;
    border: none;
    align-self: flex-end;
    font-size: 1rem;
    font-weight: bold;
}

/* AREA SOBRE */
#sobre{
    display: grid;
    grid-template-columns: 500px 800px;
    gap: 20px;
    margin-bottom: 100px;
}
#content-left {
    color: #3C0E0E;
    justify-self: end;
    line-height: 35px;
}
#content-left span,{
    font-weight: normal;
    font-size: 1rem;
    margin-bottom: 10px;
}
#content-left p{
    font-size: 2rem;
    font-weight: 600;
    text-align: left;
    max-width: 400px;
}
#content-right{
    color: #3C0E0E;
    display: flex;
    gap: 15;px;
    flex-direction: column;
   justify-self: center;
}
#content-right span{
    font-weight: 600;
    
}
#content-right p{
    font-size: 1rem;
    font-weight: normal;
    max-width: 400px;

}

/*AREA LOCALIZAÇÃO*/
#location{
    border-radius: 10px;
   display: grid;
  background: linear-gradient(to right, #4D1D1D, #EB8E8E);
   grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px;
  
}
#location-reserva{
    display: flex;
    flex-direction: column;
   gap: 15px;
   margin-left: 20px;
    padding: 10px;
}
#location-reserva h2{
    padding: 10px;
    font-size: 4rem;
    max-width: 200px;
    line-height: 65px;
    color: white;
}
#location-reserva span{
    color: white;
    font-size: 1.1rem;
    margin-bottom: 10px;
}
#location-reserva p{
    font-size: 0.8rem;
    color: white;
    margin-bottom: 10px;
}
#location-reserva button{
    text-align: left;
    color: white;
}
#location-img img{
    width: 100%;
    transform: translateY(-80px);
}
#location-content{
    padding: 10px;
    display: flex;
    margin-top: 5%;
    gap: 15px;
    flex-direction: column;
}
#location-content h2{
    font-size: 2rem;
    color: white;
}
#location-content > p, address{
    color: white;
}

/*AREA CONTATO */
#contato{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 150px;
}
#contato span{
    font-weight: bold;
    display: block;
    margin-bottom: 15px;
}
#contato p{
    max-width: 300px;
    margin-bottom: 10px;
    color: #3C0E0E;
}
#link-list, #instituto-info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #3C0E0E;
}
footer{
    text-align: center;
    color: #3C0E0E;
    margin-top: 20px;
}
