
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins';
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}
.hide{
    display: none;
}
/*MOBILE*/
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
   

}
#header-logo{
    display: flex;
    align-items: center;
    font-weight: bold;
   
}
#header-logo img{
    width: 130px;
    display: inline;
}
#btn-login{
    display: none;
}
#btn-delivery{
    margin-right: 20px;
    border: none;
    padding: 10px;
    font-size: 20px;
    border-radius: 20px;
    width: 120px;
    background-color: #3C0E0E;
    color: white;
}
#apresent{
    display: flex;
    height: 100vh;
}
#img-apresent{
    flex-grow: 1;
}
#img-apresent img{
   transform: translate(-150px, -120px);
    position: relative;
    height: 100%;
   
    display: inline;
    z-index: -1;
    
}
#content-apresent{
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 1;
    
}
#content-apresent > h3{
    width: 200px;
    margin-left: 20px;
   font-size: 20px;
   color: #3C0E0E;
   font-weight: bold;
}
#content-apresent > h1{
    width: 40px;
    font-size: 38px;
    line-height: 35px;
    margin-left: 20px;
    color: #3C0E0E;
}
#content-apresent > p{
    max-width: 150px;
    margin-left: 20px;
    font-size: 18px;
    color: #3C0E0E;
}

#coffe{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-bottom: 30px;
}
#coffe > h2{
    font-size: 32px;
    color: #3C0E0E;
}
#coffe > h3{
    font-size: 15px;
    text-align: center;
    max-width: 280px;
    font-weight:normal;
    color: #3C0E0E ;
}
#btn-expandir{
    margin-bottom: 70px;
    border: none;
    background: none;
    font-weight: bold;
    color: #3C0E0E;
    
}
.card{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 10px;
    text-align: center;
    border-radius:30px;
    padding: 20px;
    width: 350px;
}
.card > .preco{
    font-weight: normal;
    font-size: 20px;
}
 .card > span, .card > p{
    color: white;
 }
 .card > span{
    font-size: 24px;
    font-weight: bold;
 }
 .card > p{
    font-weight: normal;
    margin-bottom: 10px;
 }
.btn-card{
    background-color: white;
    width: 200px;
    border: none;
    font-weight: bold;
    margin: 0 auto;
    padding: 10px;
    border-radius: 20px;
    
}
#capuccino{
    background: linear-gradient(to top right, #EB8E8E, #EB8E8E, #EB8E8E, rgba(255, 255, 255, 0.336));
}
#cafeAoLeite{
    background: linear-gradient(to top right ,#282828, white);
}
#cafePreto{
    background: linear-gradient(to top right, #431B1B,#3C0E0E, black );
}


#croissant{
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    
}
#croissant-content{
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
    color: #3C0E0E;
}
#croissant-content > h2{
    font-size: 28px;
    color: #3C0E0E;
    font-weight: bold;
}
.btn-gen{
    background: none;
    border: none;
    font-weight: bold;
    color: #3C0E0E;
}
#croissant-img{
    width: 250px;
    margin: 0 auto;
}
#croissant-img img{
    width: 100%;
    margin-top: 10px;
}

#delivery-banner{
    background-color: #EB8E8E;
   
    width: 300px;
    height: 280px;
    padding: 20px;
    margin: 0 auto;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#delivery-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    text-align: center;
}
#delivery-content > h3{
    font-weight: normal;
}
#btn-delivery-content{
    width: 200px;
    margin: 0 auto;
    padding: 10px;
    border: none;
    border-radius: 20px;
}
#sobre{
    width: 350px;
    padding: 10px;
    margin: 20px auto;
  
}
#content-left{
    margin-bottom: 20px;
}
#content-left > span:nth-child(1){
    color: #3C0E0E;
}
#content-left > span:nth-child(3){
    color: #3C0E0E;
    font-weight: bold;
}
#content-left > p{
    color: #3C0E0E;
    font-weight: bold;
    font-size: 24px;
}
#content-right{
    color: #3C0E0E;
}
#location{
   display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom left, #EB8E8E, #EB8E8E, #EB8E8E, rgb(189, 189, 189));
    width: 350px;
    margin: 0 auto;
    border-radius: 20px;
    padding: 10px;
   
}
#location-reserva{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#location-reserva > h2 {
    font-size: 44px;
    width: 100px;
    margin-left: 20px;
    line-height: 40px;
    color: white;
}
#location-reserva > span, #location-reserva > p{
    margin-left: 20px;
}
#reserva{
    display: flex;
    margin-left: 20px;
}
#location-img{
    width: 150px;
}
#location-img > img{
    width: 100%;
}
#location-content{
    display: flex;
    flex-direction: column;
    gap: 40px;
    transform: translateY(10px);
    
    height: 350px;
    width: 350px;
    padding: 15px;
    background: linear-gradient(to top left, #3c0e0e, rgb(156, 156, 156));
    border-radius: 0px 0px 10px 10px;
    color: white;
  
}
#contato{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: 0 auto;
    padding: 10px;
    border-bottom: 1px solid black;
}
#info > span, #links > span, #institucional > span {
    display: block;
    margin: 20px 0px 20px 0px;
    font-weight: bold;
}
 #instituto-info li, #link-list > li, #info > p{
    color: #3c0e0e;
}
footer{
    text-align: center;
    color: #3C0E0E;
    padding: 10px;
  
}
@media (min) {
    
}
